@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open Sans', sans-serif;
}
a,
a:visited {
  text-transform: none;
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}
